
@{
    ViewData["Title"] = "OffertGym";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/HomeCSS.css" type="text/css">    
</head>
<body>
    <header>
        <h1>Oferta cenowa siłowni</h1>
    </header>
    <div class="container">
        <div class="offer">
            <div class="offer-item">
                <h2>Karnet miesięczny</h2>
                <p>Dostęp do wszystkich stref siłowni</p>
                <p>Cena: 100 zł / miesiąc</p>
            </div>
            <div class="offer-item">
                <h2>Karnet roczny</h2>
                <p>Nieograniczony dostęp przez cały rok</p>
                <p>Cena: 1000 zł / rok</p>
            </div>
            <div class="offer-item">
                <h2>Konsultacje trenera</h2>
                <p>Bezpłatne konsultacje z trenerem</p>
                <p>Cena: W cenie karnetu</p>
            </div>
            
        </div>
    </div>
</body>
</html>


