
@{
    ViewData["Title"] = "TreningGym";
}

<!DOCTYPE html>
<html>
<head>
    <title>Treningi na siłowni</title>
    <link rel="stylesheet" href="~/css/HomeCSS.css" type="text/css"> 
</head>
<body>
    <header>
        <h1>Plan treningowy na siłowni</h1>
    </header>
    <div class="container">
        <div class="offer">
            <div class="offer-item">
            <h2>Ćwiczenie 1: Przysiady</h2>
            <p>3 serie po 10 powtórzeń</p>
        </div>
        <div class="offer-item">
            <h2>Ćwiczenie 2: Wyciskanie na ławce</h2>
            <p>3 serie po 10 powtórzeń</p>
        </div>
        <div class="offer-item">
            <h2>Ćwiczenie 3: Martwy ciąg</h2>
            <p>3 serie po 10 powtórzeń</p>
        </div>
        <div class="offer-item">
            <h2>Ćwiczenie 4: Wiosłowanie hantlem</h2>
            <p>3 serie po 10 powtórzeń na każdą rękę</p>
        </div>
      </div>
    </div>
</body>
</html>

