
@{
    ViewData["Title"] = "Opinions";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/HomeCSS.css" type="text/css">
</head>
<body>
    <section>
        <h2>Opinie klientów</h2>
        <div class="testimonial">
            <div class="testimonial-item">
                <p>"Świetna siłownia z przyjazną atmosferą. Polecam!"</p>
                <p>- Anna K.</p>
            </div>
            <div class="testimonial-item">
                <p>"Dzięki trenerom osiągnąłem niesamowite rezultaty!"</p>
                <p>- Jan S.</p>
            </div>
            <div class="testimonial-item">
                <p>"Profesjonalna obsługa i nowoczesne wyposażenie."</p>
                <p>- Katarzyna M.</p>
            </div>
            <div class="testimonial-item">
                <p>"Najlepsza siłownia w mieście. Zdecydowanie polecam!"</p>
                <p>- Piotr W.</p>
            </div>
            <div class="testimonial-item">
                <p>"Zajęcia są intensywne i efektywne. Widać rezultaty!"</p>
                <p>- Marta Z.</p>
            </div>
            <div class="testimonial-item">
                <p>"Bardzo dobre wyposażenie i świetna atmosfera."</p>
                <p>- Tomasz K.</p>
            </div>

        </div>
    </section>
</body>
</html>


