
@{
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
    <link rel="stylesheet" href="~/css/HomeCSS.css" type="text/css">
</head>
<body>

    <header>
        <h1>Strona Kontaktowa</h1>
    </header>

    <section>
        <div class="informacje-kontaktowe">
            <h2>Kontakt</h2>

            <p>Skontaktuj się z nami pod adresem email: <a href="mailto:webapplicationgym@gmail.com">webapplicationgym@gmail.com</a></p>

            <p>Telefon: [numer telefonu]</p>
            <p>Adres: [adres firmy]</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Nazwa Twojej Firmy</p>
    </footer>

</body>
</html>




