@using WebApplicationGym.Models.Gym
@model DietGym
@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/HomeCSS.css" type="text/css">
</head>
<h1>Twoje zapisane diety</h1>
<span>@Model.Name</span>
<span>@Model.Description</span>
<span>@Model.Calories</span>
