@{
    ViewData["Title"] = "Home Page";
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikacja dla ćwiczących</title>
     <link rel="stylesheet" href="~/css/HomeCSS.css" type="text/css"> 
</head>



<body>
    <header>
        <h1>Aplikacja dla ćwiczących</h1>
        <p>Zdobądź swoją formę z nami!</p>
    </header>

    
    <nav>
        <a href="/Home/Index">Strona główna</a>
        <a href="/OffertGym/OffertGym">Oferta Cenowa</a>
        <a href="/TreningGym/TreningGym">Treningi</a>
        <a href="/Opinions/Opinions">Opinie</a>
        <a href="/Contact/Contact">Kontakt</a>
    </nav>

    <section>
        <h2>Nasza oferta</h2>
       
        <div class="offer">
            <div class="offer-item">
                <h3>Klub Fitness</h3>
                <p>Dostęp do nowoczesnych maszyn i profesjonalnych trenerów.</p>
            </div>
            <div class="offer-item">
                <h3>Kursy Grupowe</h3>
                <p>Uczestnicz w motywujących zajęciach z innymi osobami.</p>
            </div>
            <div class="offer-item">
                <h3>Siłownia dla Kobiet</h3>
                <p>Specjalnie dostosowane programy treningowe dla pań.</p>
            </div>
        </div>
    </section>

    <section>
        <h2>Opinie klientów</h2>
        <div class="testimonial">
            <div class="testimonial-item">
                <p>"Świetna siłownia z przyjazną atmosferą. Polecam!"</p>
                <p>- Anna K.</p>
            </div>
            <div class="testimonial-item">
                <p>"Dzięki trenerom osiągnąłem niesamowite rezultaty!"</p>
                <p>- Jan S.</p>
            </div>
            <div class="testimonial-item">
                <p>"Profesjonalna obsługa i nowoczesne wyposażenie."</p>
                <p>- Katarzyna M.</p>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Siłownia XYZ. Wszelkie prawa zastrzeżone.</p>
    </footer>
</body>

</html>


