@{
    ViewData["Title"] = "Privacy Policy";
}


<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polityka Prywatności</title>
    <link rel="stylesheet" href="~/css/HomeCSS.css" type="text/css">
</head>
<body>

    <h1>Polityka Prywatności</h1>

    <section>
        <h2>1. Informacje ogólne</h2>
        <p>Treść polityki prywatności...</p>

        <h2>2. Zebrane informacje</h2>
        <p>Opis informacji zbieranych przez naszą stronę...</p>

        <h2>3. Wykorzystanie zebranych informacji</h2>
        <p>Sposób, w jaki wykorzystujemy zebrane dane...</p>

        <h2>4. Udostępnianie informacji</h2>
        <p>Kiedy i jak udostępniamy zebrane informacje...</p>

       

    </section>

   

</body>
</html>

