body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.formularz {
    width: 500px;
    margin: 50px auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    .formularz h1 {
        text-align: center;
        color: #6e5494;
        padding: 20px 0;
        margin: 0;
    }

.pole {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
}

    .pole span {
        width: 100%;
        font-weight: bold;
        color: #555;
    }

    .pole input[type=text] {
        width: 100%;
        height: 30px;
        border: 1px solid #ccc;
        padding: 5px;
        outline: none;
    }

    .pole button {
        width: 100%;
        height: 40px;
        background-color: #6e5494;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

        .pole button:hover {
            background-color: #574482;
        }

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 10px;
}

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        margin: 0 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        nav a:hover {
            background-color: #777;
        }

section {
    padding: 20px;
}

.offer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.offer-item {
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial-item {
    text-align: center;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
